/* ------------------------------------------------------------ */
/* ---------- GENERICOS --------------------------------------- */
/* ------------------------------------------------------------ */

/* Fuente ATLANTIDA */
@font-face{
	font-family: 'OstrichSans-Heavy';
	src: url(./fonts/OstrichSans-Heavy.otf);
}

/*********** CONSTANTES ***********/
/* Color principal verde: #006878 */
/* Color principal rojo:  #DC0054 */
/*                 gris:  #F2F2F2 */
/*********** CONSTANTES ***********/
:root {
	--colorATLVerde: #006878;
	--colorATLRojo: #DC0054;
	--colorBKGGris: #F2F2F2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px solid red !important; */
}

body {
	background: var(--colorBKGGris);
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}

main h1 {
    font-family: 'OstrichSans-Heavy';
	font-size: 2rem;
	margin-bottom: 0.5rem;
	text-align: center;
}

main h2 {
    font-family: 'OstrichSans-Heavy';
	font-size: 1.8rem;
	margin-bottom: 0.4rem;
	text-align: center;
}

main h3 {
    font-family: 'OstrichSans-Heavy';
	font-size: 1.6rem;
	margin-bottom: 0.3rem;
	text-align: center;
}

.btnMasInfo {
	display: block;
	background-color: var(--colorATLRojo);
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	width: 120px;
	padding: 10px;
	margin: auto;
	margin-top: 20px;
	border-radius: 10px;
	transition: letter-spacing 0.5s, box-shadow 0.5s;
}

.btnMasInfo i {
	display: inline-block;
	margin-left: 7px;
}

.btnMasInfo:hover {
	letter-spacing: 0.1rem;
    box-shadow: 0 0 20px #000000 ;
}

/* ------------------------------------------------------------ */
/* ---------- HEADER + NAVBAR (FLEX) -------------------------- */
/* ------------------------------------------------------------ */
.header {
	background-color: var(--colorATLVerde);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 25px;
}

.header__logo img {
	display: block;
}

.header__navbar {
	display: flex;
}

.header__navbar a {
	background-color: var(--colorATLVerde);
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.1rem;
	padding: 15px 20px;
}

.header__navbar a:hover {
	color: var(--colorATLVerde);
	background-color: var(--colorBKGGris);
}


/* ------------------------------------------------------------ */
/* ---------- WHATSAPP ---------------------------------------- */
/* ------------------------------------------------------------ */
.whatsapp {
	position: fixed;
	bottom: 1px;
	right: 1px;
	z-index: 999;
}

.whatsapp a img {
	width: 70px;
}

/* ------------------------------------------------------------ */
/* ---------- FOOTER GRID ------------------------------------- */
/* ------------------------------------------------------------ */
.footer {
	background-color: #D9D9D9;
	display: grid;
	grid-template-areas: 
		"footer__diveCenter footer__redesSociales"
		"footer__dividerOne footer__dividerOne"
		"footer__datosContacto footer__logoPadi"
		"footer__dividerTwo footer__dividerTwo"
		"footer__derechos footer__derechos";
    /* grid-row-gap: 10px; */
    /* grid-column-gap: 10px; */
	align-items: center;
}

.footer__diveCenter {
	grid-area: footer__diveCenter;
	font-size: 1rem;
	font-weight: normal;
	padding: 15px;
	/* border: 1px solid black; */
}

.footer__redesSociales {
	grid-area: footer__redesSociales;
	display: flex;
	justify-content: flex-end;
	/* border: 1px solid black; */
}

.footer__redesSociales a {
	display: block;
	text-decoration: none;
	font-size: 1.5rem;
	color: #000000;
	padding: 15px;
}

.footer__redesSociales a:hover {
	color: #808080;
}

.footer__dividerOne {
	grid-area: footer__dividerOne;
	padding: 0px 15px;
	/* border: 1px solid black; */
}

.footer__dividerOne hr {
	background-color: var(--colorATLVerde);
	height: 1px;
	border: none;
}

.footer__datosContacto {
	grid-area: footer__datosContacto;
	padding: 15px;
	/* border: 1px solid black; */
}

.footer__datosContacto a {
	color: #000000;
	text-decoration: none;
	font-size: 0.8rem;
}

.footer__datosContacto a:hover {
	color: #808080;
}

.footer__datosContacto p {
	color: #000000;
	font-size: 0.8rem;
}

.footer__logoPadi {
	grid-area: footer__logoPadi;
	display: flex;
	justify-content: flex-end;
	padding: 15px;
	/* border: 1px solid black; */
}

.footer__logoPadi img {
	display: block;
	margin: auto;
	height: 60px;
}

.footer__logoPadi img:hover {
	opacity: 0.6;
}

.footer__dividerTwo {
	grid-area: footer__dividerTwo;
	padding: 0px 15px;
	/* border: 1px solid black; */
}

.footer__dividerTwo hr {
	background-color: var(--colorATLVerde);
	height: 1px;
	border: none;
}

.footer__derechos {
	grid-area: footer__derechos;
	padding: 15px 15px 60px 15px;
	font-size: 0.8rem;
	/* border: 1px solid black; */
}

.footer__derechos a {
	color: #000000;
	text-decoration: none;
}

.footer__derechos a:hover {
	color: #808080;
}

/* ------------------------------------------------------------ */
/* ---------- INDEX . WELCOME --------------------------------- */
/* ------------------------------------------------------------ */
.welcome {
	position: relative;
	background-color: var(--colorATLVerde);
}

.welcome__background--desktop {
	display: block;
	width: 100%;
}

.welcome__background--mobile {
	display: none;
}

.welcome__slide {
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 1%;
	width: 29%;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.3);
	color: #FFFFFF;
}

.welcome__logoPadi {
	position: absolute;
	bottom: 20px;
	left: 31%;
	width: 12%;
}

.welcome__logoPadi img {
	display: block;
	width: 100%;
}

.welcome__form {
	position: absolute;
	top: 20px;
	bottom: 20px;
	right: 1%;
	width: 30%;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.3);
	color: #FFFFFF;
}

.welcome__form fieldset {
	padding: 10px;
}

.welcome__form fieldset input, .welcome__form fieldset select, .welcome__form fieldset textarea {
	margin-bottom: 7px;
	width: 100%;
	padding: 2px;
	font-family: 'Nunito', sans-serif;
	font-size: 0.9rem;
}

.welcome__form fieldset textarea { /* NO ME FUNCIONA EL BLOQUEO DE LA MODIFICACION DE TAMAÑO */
	min-height: 50px;
	max-height: 50px;
	max-width: 100%;
	min-width: 100%;
}

.welcome__form .btn {
	width: 100%;
	background-color: var(--colorATLRojo);
	border-radius: 12px; 
	color: #FFFFFF;
	/* border: none; */
	border-color: var(--colorATLVerde);
	/*
	
	font-size: 16px;
	text-decoration: none;
	font-family: 'Nunito', sans-serif;*/
}

/* ------------------------------------------------------------ */
/* ---------- INDEX . CURSOS Y ESPECIALIDADES ----------------- */
/* ------------------------------------------------------------ */
.introCursos {
	padding: 20px;
}

.introCursos__cursos {
	display: inline-block;
	vertical-align: top;
	margin-left: 19%;
	width: 30%;
	padding: 20px;
	/* background-color: var(--colorATLVerde); */
	background-image: linear-gradient(to right, var(--colorATLVerde), #000000);
	border-radius: 10px;
	color: #FFFFFF;
}

.introCursos__cursos ul {
	list-style: none;
}

.introCursos__especialidades {
	display: inline-block;
	vertical-align: top;
	margin-left: 2%;
	width: 30%;
	padding: 20px;
	/* background-color: var(--colorATLVerde); */
	background-image: linear-gradient(to left, var(--colorATLVerde), #000000);
	border-radius: 10px;
	color: #FFFFFF;
}

.introCursos__especialidades ul {
	list-style: none;
}

.introCursos__nosotros {
	margin: auto;
	margin-top: 20px;
	width: 75%;
	padding: 20px;
	/* background-color: var(--colorATLVerde); */
	background-image: linear-gradient(to left, var(--colorATLVerde), #000000, var(--colorATLVerde));
	border-radius: 10px;
	color: #FFFFFF;
	text-align: center;
}

.introCursos__nosotros ul {
	display: inline-block;
	margin: auto;
	text-align: left;
}

.introCursos hr {
	background-color: var(--colorATLRojo);
	height: 1px;
	border: none;
	/* width: 98%;
	margin: auto; */
	margin-bottom: 0.4rem;
}

/* ------------------------------------------------------------ */
/* ---------- INDEX . VIAJES ---------------------------------- */
/* ------------------------------------------------------------ */
.introViajes {
	padding: 20px;
	background-color: var(--colorATLVerde);
	color: #FFFFFF;
	background-image: linear-gradient(to left, var(--colorATLVerde), #000000, var(--colorATLVerde));
}

.introViajes hr {
	background-color: var(--colorATLRojo);
	height: 1px;
	border: none;
	margin-bottom: 0.4rem;
}

.introViajes__galeria {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 20px;
    grid-column-gap: 20px;
	width: 85%;
	margin-top: 20px;
	margin: 20px auto;
}

.introViajes__galeriaImg img {
	border-radius: 5px;
	width: 100%;
}

/* ------------------------------------------------------------ */
/* ---------- CURSOS . CURSOS --------------------------------- */
/* ------------------------------------------------------------ */
.cursos {
	padding: 20px;
}

.cursos h1 {
	background-color: var(--colorATLRojo);
	color: #FFFFFF;
	border-radius: 12px;
	padding: 10px;
	margin-bottom: 20px;
}

.cursos__flex {
	display: flex;
	justify-content: center;
}

.cursos__flex--izq, .cursos__flex--der {
	/* border: 1px solid black; */
	width: 50%;
	max-width: 500px;
	margin: 0 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.cursos__flex--izq hr {
	background-color: var(--colorATLVerde);
	height: 1px;
	border: none;
}

.cursos__flex--der hr {
	background-color: var(--colorATLRojo);
	height: 1px;
	border: none;
}

.cursos__flex--der {
	background-color: var(--colorATLVerde);
	border-radius: 12px;
	color: #FFFFFF;
}

.cursos__flex--der a {
	margin: 10px auto;
}

.cursos__flex--der a img {
	display: block;
	width: 100%;
	border-radius: 12px;
}

.cursos__flex--der a img:hover {
	filter: brightness(1.2);
}

.flexLista {
	display: flex;
	flex-direction: row;
	margin: 10px 0;
}

.flexLista__ico {
	width: 32px;
	height: 32px;
	background-image: url(../images/logo-pestania.ico);
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 10px;
	margin-bottom: 25px;
}

.flexLista__texto {
	width: 100%;
	margin-bottom: 25px;
	text-align: justify;
}

/* ------------------------------------------------------------ */
/* ---------- VIAJES . VIAJES --------------------------------- */
/* ------------------------------------------------------------ */
.viajes {
	padding: 20px;
}

.viajes h1 {
	background-color: var(--colorATLRojo);
	color: #FFFFFF;
	border-radius: 12px;
	padding: 10px;
	margin-bottom: 20px;
}

.viajes__welcome {
	width: 70%;
	margin: auto;
	padding: 20px;
	background-color: var(--colorATLVerde);
	color: #FFFFFF;
	border-radius: 12px;
}

.viajes__welcome p {
	margin-bottom: 10px;
}

.viajes__temp2021, .viajes__temp2022 {
	padding: 20px;
}

.viajes__temp2021 h2, .viajes__temp2022 h2 {
	background-color: var(--colorATLRojo);
	color: #FFFFFF;
	border-radius: 12px;
	width: 70%;
	padding: 10px;
	margin: auto;
}

.viajes__temp2021 h3, .viajes__temp2022 h3 {
	background-color: var(--colorATLVerde);
	color: #FFFFFF;
	border-radius: 12px;
	width: 65%;
	padding: 10px;
	margin: 30px auto 10px auto;
}

.viaje__galeria {
	display: grid;
	grid-template-areas: 
		"vgs1 vgs1 vgs2"
		"vgs1 vgs1 vgs3"
		"vgs4 vgs5 vgs6"
		"vgs7 vgs9 vgs9"
		"vgs8 vgs9 vgs9";
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	width: 60%;
	margin-top: 20px;
	margin: 20px auto;
}

.viaje__galeriaImg1 {
	grid-area: vgs1;
}

.viaje__galeriaImg2 {
	grid-area: vgs2;
}

.viaje__galeriaImg3 {
	grid-area: vgs3;
}

.viaje__galeriaImg4 {
	grid-area: vgs4;
}

.viaje__galeriaImg5 {
	grid-area: vgs5;
}

.viaje__galeriaImg6 {
	grid-area: vgs6;
}

.viaje__galeriaImg7 {
	grid-area: vgs7;
}

.viaje__galeriaImg8 {
	grid-area: vgs8;
}

.viaje__galeriaImg9 {
	grid-area: vgs9;
}

.viaje__galeriaImg1 img, .viaje__galeriaImg2 img, .viaje__galeriaImg3 img,
.viaje__galeriaImg4 img, .viaje__galeriaImg5 img, .viaje__galeriaImg6 img,
.viaje__galeriaImg7 img, .viaje__galeriaImg8 img, .viaje__galeriaImg9 img {
	border-radius: 5px;
	width: 100%;
	display: block;
}

/* ------------------------------------------------------------ */
/* ---------- NOSOTROS . NOSOTROS ----------------------------- */
/* ------------------------------------------------------------ */
.nosotros {
	padding: 20px;
}

.nosotros h1 {
	background-color: var(--colorATLRojo);
	color: #FFFFFF;
	border-radius: 12px;
	padding: 10px;
	margin-bottom: 20px;
}

.nosotros p {
	background-color: var(--colorATLVerde);
	color: #FFFFFF;
	border-radius: 12px;
	width: 70%;
	padding: 10px;
	margin: 0 auto 20px 15%;
	text-align: center;
}

.nosotros h2 {
	background-color: var(--colorATLRojo);
	color: #FFFFFF;
	border-radius: 12px;
	width: 80%;
	padding: 10px;
	margin: 0 auto 0 10%;
}

.staff {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: stretch;
	width: 80%;
	margin-left: 10%;
}

.staff__card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	max-width: 30%;
	margin-bottom: 20px;
}

.staff__card img {
	display: block;
	width: 100%;
}
  
.staff__card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.staff__cardDatos {
	padding: 2px 16px;
}

.staff__cardDatos h3 {
	text-align: left;
}

/* ------------------------------------------------------------ */
/* ---------- CONTACTO . CONTACTO ----------------------------- */
/* ------------------------------------------------------------ */
.contacto {
	padding: 20px;
}

.contacto h2 {
	background-color: var(--colorATLRojo);
	color: #FFFFFF;
	border-radius: 12px;
	padding: 10px;
	/* width: 50%; */
	margin: auto;
}

.contacto__form {
	width: 60%;
	padding: 20px;
	background-color: var(--colorATLVerde);
	color: #FFFFFF;
	border-radius: 12px;
	margin: 20px auto;
}

.contacto__form fieldset {
	padding: 10px;
}

.contacto__form fieldset input, .contacto__form fieldset select, .contacto__form fieldset textarea {
	margin: 0 auto 7px 5%;
	width: 90%;
	padding: 2px;
	font-family: 'Nunito', sans-serif;
	font-size: 0.9rem;
}

.contacto__form fieldset textarea { /* NO ME FUNCIONA EL BLOQUEO DE LA MODIFICACION DE TAMAÑO */
	min-height: 100px;
	max-height: 100px;
	max-width: 90%;
	min-width: 90%;
}

.contacto__form .btn {
	width: 50%;
	margin-left: 25%;
	background-color: var(--colorATLRojo);
	border-radius: 12px; 
	color: #FFFFFF;
	border-color: var(--colorATLVerde);
	padding: 5px;
}

.ubicacion {
	padding: 20px;
}

.ubicacion h2 {
	background-color: var(--colorATLRojo);
	color: #FFFFFF;
	border-radius: 12px;
	padding: 10px;
/* 	width: 50%; */
	margin: auto;
}

.ubicacion iframe {
	display: block;
	width: 60%;
	padding: 20px;
	background-color: var(--colorATLVerde);
	color: #FFFFFF;
	border-radius: 12px;
	margin: 20px auto;
}

/****************************************************************/
/************ RESPONSIVE ****************************************/
/****************************************************************/
@media screen and (max-width: 768px) {

	body {
		font-size: 12px;
	}
	
	main h1 {
		font-size: 1.8rem;
	}
	
	main h2 {
		font-size: 1.6rem;
	}
	
	main h3 {
		font-size: 1.4rem;
	}

	/* ------------------------------------------------------------ */
	/* ---------- HEADER + NAVBAR (FLEX) -------------------------- */
	/* ------------------------------------------------------------ */
	.header {
		flex-direction: column;
	}
	
	.header__navbar {
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.header__navbar a {
		text-align: center;
	}

	/* ------------------------------------------------------------ */
	/* ---------- FOOTER GRID ------------------------------------- */
	/* ------------------------------------------------------------ */
	.footer {
		grid-template-areas: 
			"footer__diveCenter footer__diveCenter"
			"footer__redesSociales footer__redesSociales"
			"footer__dividerOne footer__dividerOne"
			"footer__datosContacto footer__logoPadi"
			"footer__dividerTwo footer__dividerTwo"
			"footer__derechos footer__derechos";
	}

	.footer__diveCenter {
		text-align: center;
	}

	.footer__redesSociales {
		justify-content: center;
	}

	/* ------------------------------------------------------------ */
	/* ---------- INDEX . WELCOME --------------------------------- */
	/* ------------------------------------------------------------ */
	.welcome__background--desktop {
		display: none;
	}
	
	.welcome__background--mobile {
		display: block;
		width: 100%;
	}

	.welcome__slide {
		top: 50%;
		bottom: 0px;
		left: 0px;
		width: 100%;
	}

	.welcome__logoPadi {
		top: 10px;
		left: 75%;
		width: 20%;
	}

	.welcome__form {
		display: none;
	}
	
	/* ------------------------------------------------------------ */
	/* ---------- INDEX . CURSOS Y ESPECIALIDADES ----------------- */
	/* ------------------------------------------------------------ */
	.introCursos__cursos {
		margin-left: 2%;
		width: 45%;
	}
	
	.introCursos__especialidades {
		margin-left: 6%;
		width: 45%;
	}

	.introCursos__nosotros {
		width: 96%;
	}

	/* ------------------------------------------------------------ */
	/* ---------- INDEX . VIAJES ---------------------------------- */
	/* ------------------------------------------------------------ */
	.introViajes__galeria {
		grid-template-columns: 1fr;
	}	
	
	/* ------------------------------------------------------------ */
	/* ---------- CURSOS . CURSOS --------------------------------- */
	/* ------------------------------------------------------------ */
	.cursos__flex {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.cursos__flex--izq, .cursos__flex--der {
		width: 100%;
		margin: 0px;
	}

	/* ------------------------------------------------------------ */
	/* ---------- VIAJES . VIAJES --------------------------------- */
	/* ------------------------------------------------------------ */
	.viajes__welcome {
		width: 100%;
	}

	.viajes__temp2021 h2, .viajes__temp2022 h2 {
		width: 90%;
	}

	.viajes__temp2021 h3, .viajes__temp2022 h3 {
		width: 80%;
	}

	.viaje__galeria {
	grid-template-areas: 
			"vgs1"
			"vgs2"
			"vgs3"
			"vgs4"
			"vgs5"
			"vgs6"
			"vgs7"
			"vgs8"
			"vgs9";
		width: 95%;
	}

	/* ------------------------------------------------------------ */
	/* ---------- NOSOTROS . NOSOTROS ----------------------------- */
	/* ------------------------------------------------------------ */
	.staff {
		flex-direction: column;
		/* padding: 20px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: stretch;
		width: 80%;
		margin-left: 10%; */
	}

	.staff__card {
		max-width: 100%;
	}

	/* ------------------------------------------------------------ */
	/* ---------- CONTACTO . CONTACTO ----------------------------- */
	/* ------------------------------------------------------------ */
	.contacto__form {
		width: 90%;
	}

	.ubicacion iframe {
		width: 90%;
	}
}