/***************************/
/* _buttons.scss - Botones */
/***************************/

.btnMasInfo {
	background-color: $colorATLRojo;
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 10px;
	transition: letter-spacing 0.5s, box-shadow 0.5s;
    
    i {
        display: inline-block;
        margin-left: 10px;
    }
    
    &:hover {
        color: #FFFFFF;
        letter-spacing: 0.1rem;
        box-shadow: 0 4px 8px 0 rgba(220,0,84,0.7);
    }    
}



