/**************************/
/* _common.scss - Comunes */
/**************************/

main {
    h1 {
        font-family: 'OstrichSans-Heavy';
        font-size: 2rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }
    
    h2 {
        font-family: 'OstrichSans-Heavy';
        font-size: 1.8rem;
        margin-bottom: 0.4rem;
        text-align: center;
    }
    
    h3 {
        font-family: 'OstrichSans-Heavy';
        font-size: 1.6rem;
        margin-bottom: 0.3rem;
        text-align: center;
    }
}

.tituloPagina hr {
	color: $colorATLRojo;	
}

/* -------- */
/* WHATSAPP */
/* -------- */
.whatsapp {
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 999;

    a {
        img {
            width: 70px;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
	main {
        h1 {
            font-size: 1.8rem;
        }
        
        h2 {
            font-size: 1.6rem;
        }
        
        h3 {
            font-size: 1.4rem;
        }
    }
}